.footer {
    background: var(--secondary);
  }
  
  .boxContainer {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
  }
  .box h2 {
    text-transform: capitalize;
  margin-top: 1rem;
  font-size: 1.6rem;
font-weight: bold;
color: var(--tertiary);
text-shadow: 1px 1px 1px black;
}
  
  .box h3 {
    text-transform: capitalize;
    color: #444;
    padding: 1rem 0;
  }
  
  .box h3 i {
    color: var(--primary);
  }
  
  .share {
    margin-top: 1rem;
  }
  
  .share a{
  
    line-height: 4.5rem;
    background-color: var(--primary);
    color: #fff;
    margin: 0.3rem;
    text-align: center;
    padding: 1rem 1rem;
  }
  
  .share a:hover {
    background-color: #444;
  }
  
  .link {
    line-height: 2;
    color: #777;
    padding: 0.5rem 0;
    display: block;
  }
  
  .link:hover {
    color: var(--primary);
    text-decoration: underline;
  }
  
  .box p {
    line-height: 2;
    color: #777;
    padding: 1rem 0;
  }
  
  .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid var(--primary);
    margin-bottom: 1rem;
  }
  
  .btn {
    color: black;
    padding: 0.8rem 4rem;
  }
  
  .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid var(--primary);
  }
  
  .credit span {
    color: var(--primary);
  }
  